@media screen and (max-width: 1000px) {
    
    section {
        width: 100%;
    }

    .aboutWrapper {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }


    #about img {
        width: 100%;
    }

    .aboutText {
        width: 100% !important;
        padding: 0 !important;
    }
    
    .aboutText p {
        margin-top: 20px;
        font-size: 1rem;

    }

    .site-detail {
        width: 100% !important;
        font-size: 1rem;
    }
    

}

@media screen and (max-width: 600px) {


    header h1 {
        font-size: 2rem !important;
    }

    .hamburger {
        display: block !important;
    }
    
    header .nav {
        display: none !important;
    }
 
    .roling .hamburger span {
        background: #fff !important;
    }
    
    .roling .hamburger span:first-child {
        transform: translateY(14px) rotate(-45deg);
    }
    
    .roling .hamburger span:nth-child(2) {
        opacity: 0;
        transform: translateX(50px);
    }
    
    .roling .hamburger span:last-child {
        transform: translateY(-14px) rotate(45deg);
    }
    
    .roling .mask {
        display: block !important;
    }

    .roling .mask-nav {
        display: flex;
        z-index: 20;
        text-align: center;
        position: absolute;
        top: 10%;
        right: 10%;
    }

    section h1 {
        font-size: 2rem !important;
    }

    .aboutWrapper {
        width: 100% !important;
    }
    
    #about img {
        padding: 0 !important;
    }

    .aboutText {
        width: 100% !important;
    }
    
    .aboutText p {
        font-size: 1rem !important;

    }

    .worksWrapper {
        margin-top: 30px;
    }

    .worksDetail {
        width: 100% !important;
        margin-bottom: 30px;
    }

    .workpic img {
        width: 100% !important;
    }

    .site-title {
        font-size: 1rem !important;
    }

    .site-detail {
        width: 100% !important;
        font-size: .8rem;
    }

}

