/* 全体、共通要素の設定 */

body {
    font-size: 1.2rem;
    font-family: "Sawarabi Mincho";
}


img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: .6;
    transition: .5s;
}

section {
    width: 60%;
    margin: 10% auto;
}

section h1 {
    text-align: center;
    margin: 15% auto 10%;
    font-size: 3rem;
}

/* ------------- ヘッダー部分 -------------- */

header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/mainImage.jpg);
    object-fit: cover;
    opacity: 0;
    position: relative;
}

header h1 {
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 5rem;
}

/* サイト読み込み時のアクション */

.fadeIn {
    opacity: 1;
    transition: .8s;
}


/* 601px～のﾒﾆｭｰﾊﾞｰ表示 */
header .nav {
    display: flex;
    position: absolute;
    top: 10%;
    right: 10%;
}

header .nav li {
    font-size: 1.8rem;
}

header .nav li:nth-child(1),
header .nav li:nth-child(2) {
    margin: 0 20px 0 0;
}

/* ～600px時のﾊﾝﾊﾞｰｶﾞｰﾒﾆｭｰ */

.hamburger {  
    display: none;
    position: fixed;
    top :5%;
    right: 5%;
    width: 40px;
    height: 30px;
}

.hamburger span {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    border-radius: 30%;
    background: #000;
    position: absolute;
    transition: all .5s;
}

.hamburger span:first-child {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 15px;
}

.hamburger span:last-child {
    bottom: 0;
}

/* ﾊﾝﾊﾞｰｶﾞｰﾒﾆｭｰｸﾘｯｸ時に背景色の変化 */

.mask {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: .7;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: none;
}


.mask-nav li:nth-child(1),
.mask-nav li:nth-child(2) {
    margin-right: 20px;
}

.mask-nav a {
    color: #fff;
    font-size: 1.5rem;
}


/* --------------- 各セクション -------------- */

/* 自己紹介 */

.aboutWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.pic {
    width: 100%;
}

#about img {
    padding-right: 30px;
}

.aboutText {
    width: 60%;
}

.aboutText p {
    letter-spacing: .15rem;
}

/* 成果物 */

.worksWrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.worksDetail {
    width: 100%;
}

.workpic img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.site-title {
    font-size: 2rem;
    margin-top: 10px;
}

.site-detail {
    letter-spacing: .15rem;
    width: 50%;
    margin: 10px auto;
}



/* 謝辞 */

.thank {
    margin: 80px auto;
    text-align: center;
}


/* -------------- フッター ---------------- */

footer {
    background-image: url(../img/mainImage.jpg);
    height: 100px;
}

footer p {
    text-align: center;
    line-height: 100px;
    font-size: 1.3rem;
}
